<!DOCTYPE html>
<html lang="<%-lang.this_lang_short%>">
    <head>

        <!--META TAGS--> 
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <!--TITLE--> 
        <title>MelexSoft</title>

        <!--DESCRIPTION--> 
        <meta name="description" content="MelexSoft 2021 yılında kurulmuş bir yazılım şirketidir." />

        <!--KEYWORDS--> 
        <meta name="keywords" content="Application, Clean, SaaS, Dashboard, Bootstrap4" />

        <!--AUTHOR--> 
        <meta content="sacredthemes" name="author" />

        <!--FAVICON-->
        <link rel="shortcut icon" href="/assets/images/favicon.ico">

        <!--ANIMATE-->
        <link href="/assets/css/animate.css" rel="stylesheet" type="text/css"  />

        <!--BOOTSTRAP-->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

        <!--SLICK-->
        <link href="/assets/css/slick.css" rel="stylesheet" type="text/css"  />

        <!--ICONS-->
        <link href="/assets/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/line-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/fontawesome.min.css" rel="stylesheet" type="text/css" />

        <!--CSS-->
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css" id="theme-default" />
        <link href="/assets/css/rtl-style.css" rel="stylesheet" type="text/css" id="rtl-theme-default" disabled="disabled" />
        <link href="/assets/css/colors/default-color.css" rel="stylesheet" type="text/css" id="theme-color" />
        <link href="/assets/css/new-syle.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <!-- box-wrapper -->
        <div class="box-wrapper">
            <!-- Loader -->
            <div id="preloader">
                <div id="status">
                    <div class="d-loader">
                        <img src="/assets/images/dcode-loader.gif" alt="DCode">
                    </div>
                </div>
            </div>
            <!-- Loader -->
            <!-- Nav Bar -->
            <header id="master-head" class="<%-navbarClass%>">
                <div class="container">
                    <div id="main-logo" class="logo-container">
                        <a class="logo" href="/">
                            <img src="/assets/images/logo/melexsoft_logo_dark.png" class="logo-dark" alt="DCode">
                            <img src="/assets/images/logo/melexsoft_logo.png" class="logo-light" alt="DCode">
                        </a>
                    </div>
                    <div class="menu-toggle-btn">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="burger-lines">
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                    <div id="navigation" class="nav navbar-nav navbar-main">
                        <ul id="main-menu" class="menu-primary">
                            <li class="menu-item <%if(activePage == 'home'){%>active<%}%>">
                                <a href="/"><%-lang.navbar_home%></a>
                            </li>
                            <li class="menu-item <%if(activePage == 'service'){%>active<%}%>">
                                <a href="/service"><%-lang.navbar_service%></a>
                            </li>
                            <li class="menu-item <%if(activePage == 'process'){%>active<%}%>">
                                <a href="/process"><%-lang.navbar_process%></a>
                            </li>
                            <li class="menu-item <%if(activePage == 'case_studies'){%>active<%}%>">
                                <a href="/case-studies"><%-lang.navbar_case_studies%></a>
                            </li>
                            <li class="menu-item <%if(activePage == 'blog'){%>active<%}%>">
                                <a href="/blog"><%-lang.navbar_blog%></a>
                            </li>
                            <li class="menu-item <%if(activePage == 'contact'){%>active<%}%>">
                                <a href="/contact"><%-lang.navbar_contact%></a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-right">
                        <div class="select-language">
                            <div class="current-language">
                                <p><%-lang.this_lang_long%></p>
                            </div>
                            <ul class="other-languages">
                                <% for(let i = 0; i < lang.allLangs.length; i++) {%>
                                    <li lang="<%-lang.allLangs[i][0] %>" class="language <% if(lang.this_lang_short == lang.allLangs[i][0]){%>active<%}%>" onclick="activateLanguage(this)"><%-lang.allLangs[i][1] %></li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Nav Bar -->
            <!-- Main Wrapper -->
            <%-body%>
            <!-- Main Wrapper -->
            <footer class="site-footer footer-theme-two">
                <div class="container">
                    <div class="main-footer style-dark">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="widget">
                                    <div class="text-widget">
                                        <div class="about-info">
                                            <div class="image-wrapper">
                                                <img src="/assets/images/d-code-logo-light.svg" alt="" />
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales dictum viverra. Nam gravida dignissim eros.</p>
                                        </div>
                                        <div class="playstore-widget">
                                            <h3>Download the App</h3>
                                            <ul>
                                                <li class="google"><a href="#">Google Play</a></li>
                                                <li class="apple"><a href="#">App Store</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- End Widget -->
                            </div><!-- End Col -->
                            <div class="col-lg-2">
                                <div class="widget">
                                    <div class="widget-title">
                                        <h3 class="title">Useful Links</h3>
                                    </div>
                                    <div class="text-widget">
                                        <div class="footer-nav">
                                            <ul>
                                                <li><a href="#">Trust & Safety</a></li>
                                                <li><a href="#">Cookie Policy</a></li>
                                                <li><a href="#">Contact Us</a></li>
                                                <li><a href="#">Privacy Policy</a></li>
                                                <li><a href="#">Terms of Service</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- End Widget -->
                            </div><!-- End Col -->
                            <div class="col-lg-2">
                                <div class="widget">
                                    <div class="widget-title">
                                        <h3 class="title">Support</h3>
                                    </div>
                                    <div class="text-widget">
                                        <div class="footer-nav">
                                            <ul>
                                                <li><a href="#">Documentation</a></li>
                                                <li><a href="#">FAQ</a></li>
                                                <li><a href="#">Press</a></li>
                                                <li><a href="#">Community</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- End Widget -->
                            </div><!-- End Col -->
                            <div class="col-lg-4">
                                <div class="widget">
                                    <div class="widget-title">
                                        <h3 class="title">Stay Updated</h3>
                                    </div>
                                    <div class="text-widget">
                                        <div class="contact-info">
                                            <ul>
                                                <li class="email-field">support@sacredthemes.net</li>
                                                <li class="phone-field">+1 (234) 567-9801</li>
                                                <li class="address-field">49 Uniqe Square D, New York, NY 10003, USA</li>
                                            </ul>
                                        </div>
                                        <div class="social-media-links">
                                            <ul>
                                                <li><a target="_blank" href="https://www.facebook.com/sacredthemes/"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a target="_blank" href="https://www.linkedin.com/company/sacredthemes/"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a target="_blank" href="https://twitter.com/SacredThemes"><i class="fab fa-twitter"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- End Widget -->
                            </div><!-- End Col -->
                        </div><!-- End Row -->
                    </div>
                    <div class="copyright-bar style-dark">
                        <div class="copyright-text text-center">
                            © Copyright DCode 2020. Made with <i class="fas fa-heart"></i> by <a href="https://sacredthemes.net" target="_blank"><strong>SacredThemes</strong></a>.
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Main Footer -->
            <div id="theme-option" class="option-panel">
                <h3>Select Your Color</h3>
                <ul class="pattern-color-list">
                    <li><a href="#" data-url="default-color" class="default-color active"></a></li>
                    <li><a href="#" data-url="orange-color" class="orange-color"></a></li>
                    <li><a href="#" data-url="green-color" class="green-color"></a></li>
                </ul>
                <h3>RTL/LTR Option</h3>
                <div class="layout-option">
                    <a href="#" class="btn btn-secondary btn-small enable rtl-version">RTL</a>
                    <a href="#" class="btn btn-secondary btn-small ltr-version">LTR</a>
                </div>
                <div class="switcher-btn">
                    <a href="#" class="settings">
                        <i class="mdi mdi-cog-outline mdi-spin"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- box-wrapper -->
        <div class="overlay overlay-search">
            <div class="close-search">
                <span class="lines"></span>
            </div>
            <div class="container">
                <form method="post">
                    <div class="form-group">
                        <input type="search" class="form-control" name="SearchInput" placeholder="Search…">
                        <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <!--search-form-->

        <!-- javascript -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery-migrate.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/jquery.easing.min.js"></script>
        <script src="/assets/js/scrollspy.min.js"></script>
        <script src="/assets/js/appear.js"></script>
        <!-- WOW Animation -->
        <script src="/assets/js/wow.min.js"></script>
        <!-- Slick Slider -->
        <script src="/assets/js/slick.min.js"></script>
        <!-- Main Js -->
        <script src="/assets/js/dcode.js"></script>
        <script src="/assets/js/new-script.js"></script>
    </body>
</html>