<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        p{
            margin: 0px;
            margin-bottom: 2.5px;
        }
    </style>
</head>
<body>

    <p><b>Ad: </b><%= mailInfo.name %></p>
    <p><b>Soyad: </b><%= mailInfo.surname %></p>
    <p><b>Email: </b><%= mailInfo.email %></p>
    <p><b>Numara: </b><%= mailInfo.number %></p>
    <br>
    <p><b>Konu: </b><%= mailInfo.subject %></p>
    <p><b>Mesaj: </b><%= mailInfo.message %></p>
    
</body>
</html>