<div class="light-bg about-section section-padding page-career blog-page">
  <div class="container">

      <div class="breadcrumbs">
        <a href="/blog">Blog</a>
        
        <i class="fas fa-caret-right"></i>

        <a href="<%-blog.blog_url%>"><%-blog.blog_title%></a>
      </div>

      <div class="blog-img-cover">
        <img src="<%-blog.blog_image%>" alt="">
      </div>

      <div class="blog-title-cover">
        <h1><%-blog.blog_title%></h1>
      </div>

      <div class="blog-text-cover">
        <p><%-blog.blog_text%></p>
      </div>
      
  </div>
</div>