<div class="light-bg section-padding">
    <div class="container">
        <div class="row clearfix justify-content-center wow fadeInDown" data-wow-delay="0.25s">
            <div class="col-lg-12">
                <div class="heading-wrapper with-separator text-center">
                    <h1><%-lang.case_studies_title%></h1>
                    <p class="lead-text"><%-lang.case_studies_desc%></p>
                </div>
            </div>
        </div>

        <div class="row clearfix wow fadeInUp" data-wow-delay="0.5s">

            <div class="col-lg-6">
                <div class="heading-wrapper with-separator">
                    <h2 class="h1"><span><%-lang.case_studies1_title%></span></h2>
                    <div class="lead-text">
                        <p><%-lang.case_studies1_desc%></p>
                    </div>
                </div>
                <div class="panel-group style-2" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading0">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#caseStudies1Problem" aria-expanded="true" aria-controls="collapse0"><%-lang.case_studies_problem%></a>
                            </h3>
                        </div>
                        <div id="caseStudies1Problem" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                            <div class="panel-body">
                                <p><%-lang.case_studies1_problem_text%></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading1">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#caseStudies1Purpose" aria-expanded="true" aria-controls="collapse1"><%-lang.case_studies_purpose%></a>
                            </h3>
                        </div>
                        <div id="caseStudies1Purpose" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body">
                                <p><%-lang.case_studies1_purpose_text%></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#caseStudies1Result" aria-expanded="true" aria-controls="collapse2"><%-lang.case_studies_result%></a>
                            </h3>
                        </div>
                        <div id="caseStudies1Result" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <p><%-lang.case_studies1_result_text%></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#caseStudies1Images" aria-expanded="true" aria-controls="collapse2"><%-lang.case_studies_images%></a>
                            </h3>
                        </div>
                        <div id="caseStudies1Images" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <div id="lightgallery" class="lightgallery">
                                    <a href="/assets/images/header/header.svg">
                                        <img src="/assets/images/header/header.svg" />
                                    </a>
                                    <a href="/assets/images/header/header.svg">
                                        <img src="/assets/images/header/header.svg" />
                                    </a>
                                    <a href="/assets/images/header/header.svg">
                                        <img src="/assets/images/header/header.svg" />
                                    </a>
                                    <a href="/assets/images/header/header.svg">
                                        <img src="/assets/images/header/header.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="heading-wrapper with-separator">
                    <h2 class="h1"><span><%-lang.case_studies2_title%></span></h2>
                    <div class="lead-text">
                        <p><%-lang.case_studies2_desc%></p>
                    </div>
                </div>
                <div class="panel-group style-2" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading0">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#caseStudies2Problem" aria-expanded="true" aria-controls="collapse0"><%-lang.case_studies_problem%></a>
                            </h3>
                        </div>
                        <div id="caseStudies2Problem" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                            <div class="panel-body">
                                <p><%-lang.case_studies2_problem_text%></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading1">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#caseStudies2Purpose" aria-expanded="true" aria-controls="collapse1"><%-lang.case_studies_purpose%></a>
                            </h3>
                        </div>
                        <div id="caseStudies2Purpose" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body">
                                <p><%-lang.case_studies2_purpose_text%></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#caseStudies2Result" aria-expanded="true" aria-controls="collapse2"><%-lang.case_studies_result%></a>
                            </h3>
                        </div>
                        <div id="caseStudies2Result" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <p><%-lang.case_studies2_result_text%></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#caseStudies2Images" aria-expanded="true" aria-controls="collapse2"><%-lang.case_studies_images%></a>
                            </h3>
                        </div>
                        <div id="caseStudies2Images" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <div id="lightgallery1" class="lightgallery">
                                    <a href="/assets/images/header/header.svg">
                                        <img src="/assets/images/header/header.svg" />
                                    </a>
                                    <a href="/assets/images/header/header.svg">
                                        <img src="/assets/images/header/header.svg" />
                                    </a>
                                    <a href="/assets/images/header/header.svg">
                                        <img src="/assets/images/header/header.svg" />
                                    </a>
                                    <a href="/assets/images/header/header.svg">
                                        <img src="/assets/images/header/header.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>