
<div class="light-bg about-section section-padding page-contact">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <div class="contact-info-box wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="contact-wrapper">
                        <div class="icon">
                            <i class="fas fa-phone-alt"></i>
                        </div>
                        <div class="content">
                            <h3><%-lang.contact_box1_phone_title%></h3>
                            <p><%-lang.contact_box1_phone_desc%></p>
                            <p><a class="btn link-btn" href="tel:<%-lang.contact_box1_phone_number%>"><%-lang.contact_box1_phone_number%></a></p>
                        </div>
                    </div>
                </div>
                <div class="contact-info-box wow fadeInLeft" data-wow-delay="0.55s">
                    <div class="contact-wrapper">
                        <div class="icon">
                            <i class="fas fa-envelope-open"></i>
                        </div>
                        <div class="content">
                            <h3><%-lang.contact_box2_email_title%></h3>
                            <p><%-lang.contact_box2_email_desc%></p>
                            <p><a class="btn link-btn" href="mailto:<%-lang.contact_box2_email_address%>"><%-lang.contact_box2_email_address%></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.25s">
                <div class="heading-wrapper with-separator">
                    <h2 class="sub-title"><%-lang.contact_title2%></h2>
                    <h1><%-lang.contact_title1%></h1>
                </div><!-- End Heading -->
                <div class="text-wrapper">
                    <p><%-lang.contact_desc%></p>
                </div>
                <div class="contact-form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control firstName" placeholder="<%-lang.form_firstName%>">
                            <div class="error-message">
                                <% for (let i = 0; i < lang.form_error.length; i++) { %>
                                <p class="<%-lang.form_error[i][0]%>"><%-lang.form_firstName%> <%-lang.form_error[i][1]%></p>
                                <% } %>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control lastName" placeholder="<%-lang.form_lastName%>">
                            <div class="error-message">
                                <% for (let i = 0; i < lang.form_error.length; i++) { %>
                                <p class="<%-lang.form_error[i][0]%>"><%-lang.form_lastName%> <%-lang.form_error[i][1]%></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control email" placeholder="<%-lang.form_email%>">
                        <div class="error-message">
                            <% for (let i = 0; i < lang.form_error.length; i++) { %>
                            <p class="<%-lang.form_error[i][0]%>"><%-lang.form_email%> <%-lang.form_error[i][1]%></p>
                            <% } %>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control phone" placeholder="<%-lang.form_phone%>">
                        <div class="error-message">
                            <% for (let i = 0; i < lang.form_error.length; i++) { %>
                            <p class="<%-lang.form_error[i][0]%>"><%-lang.form_phone%> <%-lang.form_error[i][1]%></p>
                            <% } %>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control subject" placeholder="<%-lang.form_subject%>">
                        <div class="error-message">
                            <% for (let i = 0; i < lang.form_error.length; i++) { %>
                            <p class="<%-lang.form_error[i][0]%>"><%-lang.form_subject%> <%-lang.form_error[i][1]%></p>
                            <% } %>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control message" placeholder="<%-lang.form_message%>"></textarea>
                        <div class="error-message">
                            <% for (let i = 0; i < lang.form_error.length; i++) { %>
                            <p class="<%-lang.form_error[i][0]%>"><%-lang.form_message%> <%-lang.form_error[i][1]%></p>
                            <% } %>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="<%-lang.form_button%>">
                    </div>
                </div>
                <div class="response-message">
                    <p class="sending"><%-lang.contact_response_sending%></p>
                    <p class="success"><%-lang.contact_response_success%></p>
                    <p class="error"><%-lang.contact_response_error%></p>
                </div>
            </div>
        </div>
    </div>
</div> 
<div class="map-custom-embed">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d752.3728410130734!2d28.978542829250976!3d41.03638261029184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab766d0fddca1%3A0xa77f81fb558f5ce3!2sTaksim%20360!5e0!3m2!1sen!2str!4v1629459462726!5m2!1sen!2str" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>