
<div class="light-bg about-section section-padding">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <div class="contact-info-box wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="contact-wrapper">
                        <div class="icon">
                            <i class="fas fa-phone-alt"></i>
                        </div>
                        <div class="content">
                            <h4><%-lang.contact_box1_phone_title%></h4>
                            <p><%-lang.contact_box1_phone_desc%></p>
                            <p><a class="btn link-btn" href="tel:<%-lang.contact_box1_phone_number%>"><%-lang.contact_box1_phone_number%></a></p>
                        </div>
                    </div>
                </div>
                <div class="contact-info-box wow fadeInLeft" data-wow-delay="0.55s">
                    <div class="contact-wrapper">
                        <div class="icon">
                            <i class="fas fa-envelope-open"></i>
                        </div>
                        <div class="content">
                            <h4><%-lang.contact_box2_email_title%></h4>
                            <p><%-lang.contact_box2_email_desc%></p>
                            <p><a class="btn link-btn" href="mailto:<%-lang.contact_box2_email_address%>"><%-lang.contact_box2_email_address%></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.25s">
                <div class="heading-wrapper with-separator">
                    <span class="sub-title"><%-lang.contact_title2%></span>
                    <h2 class="h1"><%-lang.contact_title1%></h2>
                </div><!-- End Heading -->
                <div class="text-wrapper">
                    <p><%-lang.contact_desc%></p>
                </div>
                <div class="contact-form contact-form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control name" placeholder="<%-lang.contact_firstname%>" required="">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control surname" placeholder="<%-lang.contact_lastname%>" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control email" placeholder="<%-lang.contact_email%>" required="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control number" placeholder="<%-lang.contact_phone%>" required="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control subject" placeholder="<%-lang.contact_subject%>" required="">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control message" placeholder="<%-lang.contact_message%>"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="<%-lang.contact_button%>">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<div class="map-custom-embed">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d752.3728410130734!2d28.978542829250976!3d41.03638261029184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab766d0fddca1%3A0xa77f81fb558f5ce3!2sTaksim%20360!5e0!3m2!1sen!2str!4v1629459462726!5m2!1sen!2str" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>