<div id="main-wrapper" class="page-wrapper">
    <div class="page-header section-padding full-height dc-five">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-6">
                    <div class="image-wrapper wow fadeInUp" data-wow-delay="0.2s">
                        <img src="/assets/images/header/header.svg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="heading-wrapper with-separator">
                        <h1 class="wow fadeInUp" data-wow-delay="0.2s"><%-lang.home_header_title%></h1>
                        <h5 class="wow fadeInUp" data-wow-delay="0.4s"><%-lang.home_header_title2%> <span id="typed"></span></h5>
                    </div>
                    <div class="text-wrapper wow fadeInUp" data-wow-delay="0.6s">
                        <p><%-lang.home_header_desc%></p>
                    </div>
                    <div class="btn-wrapper wow fadeInUp" data-wow-delay="0.8s">
                        <a class="btn btn-primary" href="#"><%-lang.home_header_button1%></a>
                        <a class="btn btn-outline-primary" href="#"><%-lang.home_header_button2%></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="features-section section-padding">
        <div class="container">
            <div class="row clearfix align-items-center justify-content-between">
                 <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="heading-wrapper with-separator wow fadeInUp" data-wow-delay="0.3s">
                        <h2 class="h1"><%-lang.home_about_title%>?</h2>
                    </div>
                    <div class="text-wrapper wow fadeInUp" data-wow-delay="0.4s">
                        <p class="lead-text"><%-lang.home_about_desc1%></p>
                        <p><%-lang.home_about_desc2%></p>
                    </div>
                    <div class="btn-wrapper wow fadeInUp" data-wow-delay="0.5s">
                        <a href="#" class="btn btn-primary"><%-lang.home_about_button%></a>
                    </div>
                    <div class="d-lg-none d-xl-block empty-space-30"></div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="row inner-row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="features-block theme-one wow fadeInUp" data-wow-delay="0.3s">
                                <div class="inner-box">
                                    <div class="icon">
                                        <img src="/assets/images/icons/professional-approach.svg" alt="">
                                    </div>
                                    <div class="text">
                                        <h4><%-lang.home_about_box1_title%></h4>    
                                        <p><%-lang.home_about_box1_desc%></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="features-block theme-one wow fadeInUp" data-wow-delay="0.4s">
                                <div class="inner-box">
                                    <div class="icon">
                                        <img src="/assets/images/icons/360-service.svg" alt="">
                                    </div>
                                    <div class="text">
                                        <h4><%-lang.home_about_box2_title%></h4>    
                                        <p><%-lang.home_about_box2_desc%></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="features-block theme-one wow fadeInUp" data-wow-delay="0.5s">
                                <div class="inner-box">
                                    <div class="icon">
                                        <img src="/assets/images/icons/projecting-by-budget.svg" alt="">
                                    </div>
                                    <div class="text">
                                        <h4><%-lang.home_about_box3_title%></h4>    
                                        <p><%-lang.home_about_box3_desc%></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="features-block theme-one wow fadeInUp" data-wow-delay="0.6s">
                                <div class="inner-box">
                                    <div class="icon">
                                        <img src="/assets/images/icons/transparent-project-management.svg" alt="">
                                    </div>
                                    <div class="text">
                                        <h4><%-lang.home_about_box4_title%></h4>    
                                        <p><%-lang.home_about_box4_desc%></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="services-section light-gradient-bg section-padding">
        <div class="container">
            <div class="row clearfix justify-content-center">
                <div class="col-lg-10">
                    <div class="heading-wrapper text-center with-separator">
                        <h2 class="h1 wow fadeInUp" data-wow-delay="0.2s"><%-lang.home_we_worked_with_title%></h2>
                        <div class="lead-text wow fadeInUp" data-wow-delay="0.3s">
                            <p><%-lang.home_we_worked_with_desc%></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-3">
                    <div class="icon-box theme-two wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon">
                            <img src="/assets/images/companies/esa.png" alt="">
                        </div>
                        <div class="text">
                            <h4><%-lang.home_we_worked_with_box1_title%></h4>    
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="icon-box theme-two wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon">
                            <img src="/assets/images/companies/turktelekom.png" alt="">
                        </div>
                        <div class="text">
                            <h4><%-lang.home_we_worked_with_box2_title%></h4>    
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="icon-box theme-two wow fadeInUp" data-wow-delay="0.6s">
                        <div class="icon">
                            <img src="/assets/images/companies/xing.png" alt="">
                        </div>
                        <div class="text">
                            <h4><%-lang.home_we_worked_with_box3_title%></h4>    
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="icon-box theme-two wow fadeInUp" data-wow-delay="0.7s">
                        <div class="icon">
                            <img src="/assets/images/companies/volkswagen.png" alt="">
                        </div>
                        <div class="text">
                            <h4><%-lang.home_we_worked_with_box4_title%></h4>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="services-section light-gradient-bg section-padding">
        <div class="container">
            <div class="row clearfix justify-content-center">
                <div class="col-lg-10">
                    <div class="heading-wrapper text-center with-separator">
                        <h2 class="h1 wow fadeInUp" data-wow-delay="0.2s"><%-lang.home_our_employees_works_with_title%></h2>
                        <div class="lead-text wow fadeInUp" data-wow-delay="0.3s">
                            <p><%-lang.home_our_employees_works_with_desc%></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-3">
                    <div class="icon-box theme-two wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon">
                            <img src="/assets/images/companies/lexit.png" alt="">
                        </div>
                        <div class="text">
                            <h4><%-lang.home_our_employees_works_with_box1_title%></h4>    
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="icon-box theme-two wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon">
                            <img src="/assets/images/companies/lexit.png" alt="">
                        </div>
                        <div class="text">
                            <h4><%-lang.home_our_employees_works_with_box2_title%></h4>    
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="icon-box theme-two wow fadeInUp" data-wow-delay="0.6s">
                        <div class="icon">
                            <img src="/assets/images/companies/lexit.png" alt="">
                        </div>
                        <div class="text">
                            <h4><%-lang.home_our_employees_works_with_box3_title%></h4>    
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="icon-box theme-two wow fadeInUp" data-wow-delay="0.7s">
                        <div class="icon">
                            <img src="/assets/images/companies/lexit.png" alt="">
                        </div>
                        <div class="text">
                            <h4><%-lang.home_our_employees_works_with_box4_title%></h4>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>