<div class="about-section section-padding light-gradient-bg">
    <div class="container">
        <div class="row clearfix justify-content-center wow fadeInDown" data-wow-delay="0.25s">
            <div class="col-lg-8">
                <div class="heading-wrapper with-separator text-center">
                    <h1 ><%-lang.process_title%></h1>
                    <p class="lead-text"><%-lang.process_desc%></p>
                </div>
            </div>
        </div>
        
        <div class="row clearfix flex-row-reverse wow fadeInUp" data-wow-delay="0.5s">
            <div class="col-lg-6">
                <div class="image-wrapper">
                    <img src="/assets/images/process/idea.svg" style="width: 100%;" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="heading-wrapper with-separator">
                    <h2 class="h2"><%-lang.process_row1_title%></h2>
                </div>
                <div class="text-wrapper">
                    <p><%-lang.process_row1_desc%></p>
                </div>
            </div>
        </div>

        <div class="arrow wow fadeInLeft" data-wow-delay="0.3s">
            <img src="/assets/images/process/arrow-right.svg" alt="">
        </div>

        <div class="row clearfix wow fadeInUp" data-wow-delay="0.5s">
            <div class="col-lg-6">
                <div class="image-wrapper">
                    <img src="/assets/images/process/workshop.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="heading-wrapper with-separator">
                    <h2 class="h2"><%-lang.process_row2_title%></h2>
                </div>
                <div class="text-wrapper">
                    <p><%-lang.process_row2_desc%></p>
                </div>
            </div>
        </div>

        <div class="arrow wow fadeInRight" data-wow-delay="0.3s">
            <img src="/assets/images/process/arrow-left.svg" alt="">
        </div>

        <div class="row clearfix flex-row-reverse wow fadeInUp" data-wow-delay="0.5s">
            <div class="col-lg-6">
                <div class="image-wrapper">
                    <img src="/assets/images/process/solution-design.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="heading-wrapper with-separator">
                    <h2 class="h2"><%-lang.process_row3_title%></h2>
                </div>
                <div class="text-wrapper">
                    <p><%-lang.process_row3_desc%></p>
                </div>
            </div>
        </div>

        <div class="arrow wow fadeInLeft" data-wow-delay="0.3s">
            <img src="/assets/images/process/arrow-right.svg" alt="">
        </div>

        <div class="row clearfix wow fadeInUp" data-wow-delay="0.5s">
            <div class="col-lg-6">
                <div class="image-wrapper">
                    <img src="/assets/images/process/proof-of-concept.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="heading-wrapper with-separator">
                    <h2 class="h2"><%-lang.process_row4_title%></h2>
                </div>
                <div class="text-wrapper">
                    <p><%-lang.process_row4_desc%></p>
                </div>
            </div>
        </div>

        <div class="arrow wow fadeInRight" data-wow-delay="0.3s">
            <img src="/assets/images/process/arrow-left.svg" alt="">
        </div>

        <div class="row clearfix flex-row-reverse wow fadeInUp" data-wow-delay="0.5s">
            <div class="col-lg-6">
                <div class="image-wrapper">
                    <img src="/assets/images/process/product-launch.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="heading-wrapper with-separator">
                    <h2 class="h2"><%-lang.process_row5_title%></h2>
                </div>
                <div class="text-wrapper">
                    <p><%-lang.process_row5_desc%></p>
                </div>
            </div>
        </div>

    </div>
</div>