<div class="services-section light-gradient-bg section-padding">
    <div class="container">
        <div class="row clearfix justify-content-center">
            <div class="col-lg-10">
                <div class="heading-wrapper text-center with-separator">
                    <h2 class="h1"><%-lang.services_title%></h2>
                    <div class="lead-text">
                        <p><%-lang.services_description%></p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row clearfix">
            <div class="col-lg-4">
                <div class="icon-box theme-two wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="icon">
                        <img src="/assets/images/icons/poc-development.svg" alt="">
                    </div>
                    <div class="text">
                        <h4><%-lang.services_box1_title%></h4>    
                        <p><%-lang.services_box1_description%></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="icon-box theme-two wow fadeInLeft" data-wow-delay="0.55s">
                    <div class="icon">
                        <img src="/assets/images/icons/private_blockchain_development.svg" alt="">
                    </div>
                    <div class="text">
                        <h4><%-lang.services_box2_title%></h4>    
                        <p><%-lang.services_box2_description%></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="icon-box theme-two wow fadeInLeft" data-wow-delay="0.60s">
                    <div class="icon">
                        <img src="/assets/images/icons/smart-contract-development.svg" alt="">
                    </div>
                    <div class="text">
                        <h4><%-lang.services_box3_title%></h4>    
                        <p><%-lang.services_box3_description%></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="icon-box theme-two wow fadeInLeft" data-wow-delay="0.65s">
                    <div class="icon">
                        <img src="/assets/images/icons/blockchain-consulting.svg" alt="">
                    </div>
                    <div class="text">
                        <h4><%-lang.services_box4_title%></h4>    
                        <p><%-lang.services_box4_description%></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="icon-box theme-two wow fadeInLeft" data-wow-delay="0.70s">
                    <div class="icon">
                        <img src="/assets/images/icons/minimum-viable-product-development.svg" alt="">
                    </div>
                    <div class="text">
                        <h4><%-lang.services_box5_title%></h4>    
                        <p><%-lang.services_box5_description%></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="icon-box theme-two wow fadeInLeft" data-wow-delay="0.75s">
                    <div class="icon">
                        <img src="/assets/images/icons/smart-contract-development.svg" alt="">
                    </div>
                    <div class="text">
                        <h4><%-lang.services_box6_title%></h4>    
                        <p><%-lang.services_box6_description%></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="icon-box theme-two wow fadeInLeft" data-wow-delay="0.80s">
                    <div class="icon">
                        <img src="/assets/images/icons/smart-contract-development.svg" alt="">
                    </div>
                    <div class="text">
                        <h4><%-lang.services_box7_title%></h4>    
                        <p><%-lang.services_box7_description%></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="icon-box theme-two wow fadeInLeft" data-wow-delay="0.85s">
                    <div class="icon">
                        <img src="/assets/images/icons/smart-contract-development.svg" alt="">
                    </div>
                    <div class="text">
                        <h4><%-lang.services_box8_title%></h4>    
                        <p><%-lang.services_box8_description%></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="icon-box theme-two wow fadeInLeft" data-wow-delay="0.85s">
                    <div class="icon">
                        <img src="/assets/images/icons/smart-contract-development.svg" alt="">
                    </div>
                    <div class="text">
                        <h4><%-lang.services_box9_title%></h4>    
                        <p><%-lang.services_box9_description%></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>