<div class="services-section light-gradient-bg section-padding">
    <div class="container">
        <div class="row clearfix justify-content-center">
            <div class="col-lg-10">
                <div class="heading-wrapper text-center with-separator wow fadeInDown" data-wow-delay="0.25s">
                    <h2 class="h1"><%-lang.services_title%></h2>
                    <div class="lead-text">
                        <p><%-lang.services_desc%></p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row clearfix">
            <div class="col-lg-4">
                <div class="icon-box theme-two wow fadeInUp" data-wow-delay="0.5s">
                    <div class="icon">
                        <img src="/assets/images/services/poc-development.svg" alt="">
                    </div>
                    <div class="text">
                        <h4><%-lang.services_box1_title%></h4>    
                        <p><%-lang.services_box1_desc%></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="icon-box theme-two wow fadeInUp" data-wow-delay="0.5s">
                    <div class="icon">
                        <img src="/assets/images/services/private-blockchain-development.svg" alt="">
                    </div>
                    <div class="text">
                        <h4><%-lang.services_box2_title%></h4>    
                        <p><%-lang.services_box2_desc%></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="icon-box theme-two wow fadeInUp" data-wow-delay="0.5s">
                    <div class="icon">
                        <img src="/assets/images/services/smart-contract-development.svg" alt="">
                    </div>
                    <div class="text">
                        <h4><%-lang.services_box3_title%></h4>    
                        <p><%-lang.services_box3_desc%></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="icon-box theme-two wow fadeInUp" data-wow-delay="0.5s">
                    <div class="icon">
                        <img src="/assets/images/services/blockchain-consulting.svg" alt="">
                    </div>
                    <div class="text">
                        <h4><%-lang.services_box4_title%></h4>    
                        <p><%-lang.services_box4_desc%></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="icon-box theme-two wow fadeInUp" data-wow-delay="0.5s">
                    <div class="icon">
                        <img src="/assets/images/services/minimum-viable-product-development.svg" alt="">
                    </div>
                    <div class="text">
                        <h4><%-lang.services_box5_title%></h4>    
                        <p><%-lang.services_box5_desc%></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="icon-box theme-two wow fadeInUp" data-wow-delay="0.5s">
                    <div class="icon">
                        <img src="/assets/images/services/blockchain-integrations.svg" alt="">
                    </div>
                    <div class="text">
                        <h4><%-lang.services_box6_title%></h4>    
                        <p><%-lang.services_box6_desc%></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="icon-box theme-two wow fadeInUp" data-wow-delay="0.5s">
                    <div class="icon">
                        <img src="/assets/images/services/project-management.svg" alt="">
                    </div>
                    <div class="text">
                        <h4><%-lang.services_box7_title%></h4>    
                        <p><%-lang.services_box7_desc%></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="icon-box theme-two wow fadeInUp" data-wow-delay="0.5s">
                    <div class="icon">
                        <img src="/assets/images/services/security-token.svg" alt="">
                    </div>
                    <div class="text">
                        <h4><%-lang.services_box8_title%></h4>    
                        <p><%-lang.services_box8_desc%></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="icon-box theme-two wow fadeInUp" data-wow-delay="0.5s">
                    <div class="icon">
                        <img src="/assets/images/services/user-interface-design.svg" alt="">
                    </div>
                    <div class="text">
                        <h4><%-lang.services_box9_title%></h4>    
                        <p><%-lang.services_box9_desc%></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>